<div class="container-fluid">
    <h1>Examples</h1>

    <form class="form-horizontal"
          role="form"
          name="vm.form"
          ng-submit="vm.submit(form.$valid)">

        <it-form-field label="Name">
            <input name="name"
                   ng-model="name"
                   type="text"
                   ng-minlength="3"
                   ng-required="true"/>
        </it-form-field>

        <it-form-field label="Email">
            <input name="email"
                   ng-model="email"
                   type="email"
                   ng-minlength="5"
                   ng-required="true"/>
        </it-form-field>

        <button ng-disabled="form.$invalid" class="btn btn-primary">Senden</button>

        <!--
        <pre>
            {{form|json}}
        </pre>
        -->

    </form>
</div>