<div class="container-fluid">
    <h1>Examples</h1>

    <form class="form-horizontal"
          role="form"
          name="vm.form"
          novalidate="true"
          ng-submit="vm.submit(form.$valid)">

        <it-form-field label="Name">
            <input name="name"
                   ng-model="$ctrl.name"
                   type="text"
                   ng-minlength="3"
                   ng-required="true"/>
        </it-form-field>

        <it-form-field label="Email">
            <input name="email"
                   ng-model="$ctrl.email"
                   type="email"
                   ng-minlength="5"
                   ng-required="true"/>
        </it-form-field>

        <it-form-field label="min Zahl">
            <input
                    name="minValueNumber"
                    type="text"
                    ng-model="$ctrl.minValueNumber"
            >
        </it-form-field>

        <it-form-field label="pos. Zahl" debug="true">
            <input
                    name="number"
                    type="text"
                    ng-model="$ctrl.number"
                    it-minvalue="$ctrl.minValueNumber"
                    ng-required="true"
            >

        </it-form-field>

        <button ng-disabled="vm.form.$invalid" class="btn btn-primary">Senden</button>

        <!--
        <pre>
            {{form|json}}
        </pre>
        -->

    </form>

    <h3 it-animated-css="rubberBand" it-animated-start-event="START_CUSTOM_ANIMATION" style="text-align: center">
        Animations <span class="glyphicon glyphicon-heart"></span>
    </h3>

    <div>
        <button ng-click="$ctrl.startAnimation()" class="btn btn-primary">Start Animation</button>
        <button ng-click="$ctrl.startAnimation('tada')" class="btn btn-primary">Start Tada</button>
    </div>

</div>